<!DOCTYPE html>
<html lang="en" dir="ltr">
<head> 
<title>SMIT Events</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/main.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>            
    </nav>