@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

header{
    padding: 1px;
    text-align: center;
    height: 100vh;    
    background-color: black;
    color: white;
    opacity: 0.5;
}

header > h1{
    margin-top: 41vh;
    font-family: 'PT Sans', sans-serif;
    font-size: 7rem;
}

nav {    
    /* height: 8%; */
    width: 100%;
    position: fixed;
    background: black;    
    display: flex;
    justify-content: space-between;   
    z-index: 10;    
}

nav > li{    
    padding: 12px 12px;
    list-style: none;   
    font-size: 1.9rem;  
}

nav >li > a{

    letter-spacing: 1.2px;
    font-family: 'PT Sans', sans-serif;
	color: #fff;
}

nav > li > a:hover{
    opacity: 1;    
    color: #fff;
}

a{
    opacity: 0.75;
    color: black;
}

a:hover{    
    opacity: 1;
    text-decoration: none;
    color: rgb(100,100,100);
}

.container > h1 {
    padding: 20px 10px;
    font-family: 'Acme', sans-serif;
}
.container > h1::before {
    content: "•  "; color: #00e51e;
    font-size: 1.5em;
    line-height: 2px;
}

.mycard{ 
    padding-top: 1.5%;
    margin-bottom: 20px;
    height: 500px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px 4px 4px 4px; 
    text-align: center;
}

.mycard > img{
    width: 80%;
    max-height: 250px;
    border: 0.1px solid rgba(0,0,0,0.2);
    margin-bottom: 4px;
    border-radius: 50%;    
}

.mycard > h4{
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    display: block;
}

.mycard > p{
    margin: 15px 0;
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    display: block;
}

.mycard > div{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mycard > div > p{
    padding: 0 5px;
    font-family: 'Baloo Chettan', cursive;
}

.day{
    padding-top: 100px;    
}

.day-no{
    color: gray;
    width: 103px;
    margin-bottom: 5px;    
}

.box{
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
    box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
}

.event-box{
    padding: 10px;
    transition: 0.3s ease-in;
}

.event-box:hover{
    -webkit-box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
    box-shadow: -1px 4px 5px 2px rgba(0,0,0,0.44);
}

.event-box > div{
    display: flex;
    justify-content: space-between;
}

.login{
    padding-top: 100px;
}