@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    padding: 1px;
    text-align: center;
    height: 100vh;    
    background-color: black;
    color: white;
}

header > h1{
    margin-top: 45vh;
    font-family: 'Oswald', sans-serif;
}

nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

.mycard{
    margin-bottom: 20px;
    height: 250px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px 4px 4px 4px; 
}

.mycard > img{
    max-width: 200px;
    max-height: 200px;
    border-bottom: 0.1px solid rgba(0,0,0,0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}