@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    padding: 1px;
    text-align: center;
    height: 100vh;    
    background-color: black;
    color: white;
}

header > h1{
    margin-top: 45vh;
    font-family: 'Oswald', sans-serif;
}

nav {    
    width: 100%;
    position: fixed;
    background: black;    
    display: flex;
    justify-content: space-between;   
    z-index: 10;
}

nav > li{    
    padding: 10px 20px;
    list-style: none;     
}

a {
    letter-spacing: 1.2px;
    font-family: 'Oswald', sans-serif;
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

.mycard{
    padding-top: 1.5%;
    margin-bottom: 20px;
    height: 335px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px 4px 4px 4px; 
    text-align: center;
}

.mycard > img{
    width: 98%;
    max-height: 250px;
    border: 0.1px solid rgba(0,0,0,0.2);
    margin-bottom: 4px;
}

.mycard > h4{
    font-family: 'Acme', sans-serif;
    font-size: 1.7rem;
    display: block;
}

.mycard > div{
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.mycard > div > p{
    padding: 0 5px;
    font-family: 'Baloo Chettan', cursive;
}
