<!DOCTYPE html>
<html lang="en" dir="ltr">
<head> 
<title>SMIT Events</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
<header>
    <h1>SMIT EVENTS</h1>
    <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>            
    </nav>
</header>
<div class="container">
    <h1 class="jumbotron">Jumbo Tron</h1>
</div>
</body>
</html>